{%extends 'base.html'%}
{% load bootstrap %}
{%block title%}Editando o funcionário {{object.primeiroNome}}{%endblock%}
{%block headerPager%}Editando {{object.primeiroNome}} {{object.ultimoNome}}{%endblock%}
{%block subHeader%}
Aqui você pode editar o funcionário, alterar todas as informações dele <br>
além de ser possível excluir o funcionário também através do botão <br>
"Excluir Funcionário".
{%endblock%}


{%block main%}
<div class="col-lg-8 mx-auto">
  <br>
  <h4>Edite o funcionário abaixo:</h4><br>
  <form method="post" enctype="multipart/form-data">
    {%csrf_token%}
<!--    <input name="primeiroNome" value="`{{object.ultimoNome}}`">-->
    {{ form|bootstrap }}
      <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
      <a href="{%url 'delFunc' object.id  %}" class="btn btn-secondary btn-lg btn-block">Excluir Funcionário</a>
  </form>



  {% for venda in vendas %}
  <p> Venda: {{venda.id}}</p>
  <h3>Lista de Produtos:</h3>
  <ul>
<!--      {% for produto in venda.produtos.all %}-->
<!--        <li>{{produto.id}} - {{produto.preco}}</li>-->
<!--      {%endfor%}-->
  </ul>
  {%endfor%}
</div>
{%endblock%}